* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: url(img/ignasi_pattern_s.png);
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.header {
  width: 100%;
  height: 85px;
  background-color: #7952b3;
  color: #fff;
  margin: 0;
  padding: 0;
  display: inline-flex;
}

.logo {
  margin-left: 15px;
  padding-top: 10px;
  display: flex;
}

.logo h1{
  font-size: 35px;
}

.logo h3{
  font-size: 13px;
  font-weight: 500;
}

.logo_img_div {
  height: 70px;
  width: 70px;
  margin-left: 7px;
}

.logo_img {
  height: 100%;
  width: auto;
}

.googleBtn {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: coral;
  width: 45px;
  height: 45px;
  font-weight: 900;
  font-size: 40px;
  text-align: center;
}

.menu {
  display: flex;
  justify-content:space-around;
  padding-top: 100px;
  height: 80%;
}

.menuBox {
  width: 150px;
  height: 150px;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  font-weight: 900;
  padding: 20px;
}

.greenBox{
  background-color: #198754;
}

.greenBox:hover{
  background-color: #157347;
}

.blueBox{
  background-color: #3286e0;
}

.blueBox:hover{
  background-color: #007bff;
}

.menu_icon{
  margin-top: 20px;
  height: 40px;
  width: auto;
}